

body{
    background-color: $mainColor;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    ul li{
        list-style:none;
    }
}
ul i{
    list-style:none;
}
*{
    @include prefixer(box-sizing ,border-box,webkit moz o);
}
.clearFix{
    clear: both;
}
.text-center-xs{
    @media #{$maxMobile} {
        text-align: center;
    }
}