// Colors 
$mainColor:#BFF8EE;
$mainColor2:#69d4ce;
$mainColor3:#9C59C8;
$mainBlue:#090667;
$mainColor4:rgb(174, 152, 65);
$mainDentist:#53107E;


//mediaQuary
$maxMobile:"(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";

//float
$float-left:left;
$float-right:right;

// textFloat 
$text-right:right;
$text-left:left;

